.radio-blocks-custom{
	font-size: 16px;
	color: #cd1820;
}

.modern-p-form .form-label{
	font-size: 16px;
	color: #cd1820;
	font-weight: bold;
	margin-bottom: 15px;
}

.no-side-padding-custom{
	clear: left;
}

.field-block{
	padding: 10px 0;
	position: relative;
}

.input-block .form-group{
	padding: 0 15px 0 15px;
}

.input-block{
	padding: 30px 0;
}

.row-block{
	margin-bottom: 10px;
	padding-bottom: 15px;
	border-bottom: 1px solid #e7e6e6;
}

.radio > label{
	position: relative;
	display: block;
}

.field-block .radio:hover .radio-label{
}

.field-block .radio:hover .check {
  border: 2px solid #cd1820;
}

.field-block input[type=radio]{
  position: absolute;
  visibility: hidden;
}

.radio-label{
	display: block;
	position: relative;
	font-weight: 300;
	font-size: 14px;
	padding: 0 0 0 60px;
	margin: 5px auto;
	height: auto;
	z-index: 9;
	cursor: pointer;
	-webkit-transition: all 0.25s linear;
}

.check::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  	height: 9px;
    width: 9px;
    top: 2px;
    left: 2px;
  margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
  border: 2px solid #cd1820;
}

input[type=radio]:checked ~ .check::before{
  background: #cd1820;
}

input[type=radio]:checked ~ label{
  color: #cd1820;
}

.check{
	display: block;
	position: absolute;
	border: 2px solid #AAAAAA;
	border-radius: 100%;
	height: 17px;
	width: 17px;
	left: 20px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

.p-field-sub-text{
	font-style: italic;
    opacity: 0.6;
    padding-left: 20px;
    display: block;

}

.hide{
	display: none;
}

.option {
    width: 100% !important;
    position: absolute !important;
    max-height: 300px !important;
    overflow-y: scroll !important;
}

.modern-p-form .p-field-cb{
	border-radius: 15px;
}

.input-block .input-group-icon{
	border-radius: 15px 0 0 15px;
}

.input-block .p-addon-bg{
	border-radius: 0 15px 15px 0; 	
}

.submit-block{
	padding: 0 30px;
}

.modern-p-form .btn.btn-custom-submit{
	padding: 0px 35px;
	position: relative;;
}

.modern-p-form .btn .fa{
	position: absolute;
	top: 15px;
	left: 15px;
}

.modern-p-form .input-group-btn .btn{
	width: 100%;
	height: 45px;
	color: #666;    	
}

.input-group-btn .dropdown-img{
	width: 50px;
    margin: 0 10px;

}

.dropdown-block:focus, .modern-p-form .dropdown-div .btn:active{
	outline: none;
}

.modern-p-form .dropdown-block .p-select-arrow{
	border-top-right-radius : 15px;
	border-bottom-right-radius : 15px;
	top: 0px;
	right: 0px;
}
.modern-p-form .dropdown-div .btn{
	background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 15px;
}

input[type="tel"], input[type="text"], input[type="number"]{
	text-align: center;
}

.head-block{
	text-align: center;
	color: #ffffff;
}

.loan-head{
	background-color: #cd1820;
	padding: 15px 0;
}

.expand-input > input.form-control{
	display: none;
}

.expand-input{
	width: 30px;
    position: absolute;
    right: -24px;
    top: 0;
    height: 30px;
    bottom: 0;
    margin: auto;
    color: #cd1820;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #cd1820;
    border-radius: 0;
}

.no-side-padding{
	padding: 0;
}

.table-data-row{
	position: relative;
	padding-right: 30px;
}

.table-data-row-item{
	padding: 0;
}

.input-group-addon-custom {
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 12px;
    height: 18px;
}

.head-block .glyphicon{
	margin-left: 10px;
    top: 2px;
}

.center-block{
	margin-top: 15px;
}

.year-ave, .monthly-ave{
	clear: left;
	display: block;
	margin-bottom: 20px;
}

.mbm-custom, .list-table-item-rate > label, .list-table-item-pament label{
    display: none !important;
}

.list-table-head, .list-table-height, .list-table-content, .checklist{
	list-style-type: none;
	padding: 0;
}

.list-table-head li:first-child, .list-table-height li:first-child{
	width: 20%;
}

.list-table-head li, .list-table-height li{
	width: 40%;
	float: left;
	padding: 5px 0;
	text-align: center;
}

.list-table-height{
	padding-top: 10px;
}

.checklist li{
	padding-left: 30px;
	position: relative;
}

.checklist li:before{
	content: "\e013";
	top: 2px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: absolute;
	left: 5px;
	color: #cd1820;
}

.filters-table-content{
	border-bottom: 1px solid #cecece;
}

.filters-table-content.package-result-header{
	border-bottom: none;
}


.row h4{
	padding: 10px;
    background: #cd1820;
    margin-top: 0;
    color: #ffffff;
}

.summary-box-header{
	font-weight: bold;
}

.list-table-head{
	text-align: center;
    padding: 0 0 10px;
    margin: 0;
    border-bottom: 2px solid #cd1820;
}

.hidden-md{
	display: none !important;
}

.to-top-btn{
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 50px;
	right: 50px;
}

.no-show-details .glyphicon-expand:before{
	    content: "\002b";
}

.show-details .glyphicon-expand:before{
	    content: "\2212";
}

.glyphicon-expand:before{
	    content: "\002b";
}

.back-btn{
	width: 100px;
	margin-bottom: 15px;
	margin-left: -15px;
}

.back-btn .package-submit, .back-btn .btn-addon{
	background-color: #cd1820;
	color: #ffffff;
}

.back-btn .btn-addon{
	padding-right: 5px;
}

.back-btn .package-submit{
	border-left: none;
	padding-left: 0;
}

.nlf-result-content{
	clear: left;
}

#current_financer_id > div{
	z-index: 9999999;
}

.form-group-financer ul li{
	padding: 10px 20px;
	width: 100%;
	text-align: center; 
}

.form-group-financer .dropdown-div:focus button.btn{
	border: 1px solid #cd1820;
}

.modern-p-form .form-control.dropdown{
	border: none;
}

/*********************
TABLET & SMALLER LAPTOPS
*********************/


@media only screen and (max-width: 800px) {
	.hidden-md{
		display: none !important;
	}

	.loan-head .head-block{
		width: 20%;
		float: left
	}

	.logo-block, .center-block{
		width: 20%;
		float: left;
	}

	.expanded .hidden-md, .expanded .hidden-xs{
		display: block !important;
	}

}

@media only screen and (max-width: 767px) {
	.hidden-md{
		display: none !important;
	}

	.expanded .hidden-md, .expanded .hidden-xs{
		display: block !important;
	}

	.logo-block, .center-block{
		width: 60%;
	}

	.package-result-div .filters-table-content{
		padding: 10px 20px;
	}

	.expand-input{
		top: 10px;
		bottom: inherit;
	}

	.expanded .center-block{
		width: 50%;
		float: left;
	}

	.expanded .sm-table-head + b{
		font-weight: normal;
	}

	.expanded .sm-table-head{
		font-weight: bold;
		margin-bottom: 5px;
	}

	.list-table-content > li{
		clear: left;
	}

	.logo-block{
		margin: auto;
		float: none;
	}
}


@media only screen and (max-width: 640px) { 
	.ua-mobile #main{
		padding: 20px 0;
		width: 100%; 
	}

	.p-label{
		display: block;
	    float: left;
	    width: 80%;
	}

	.input-block > div > div{
		padding-left: 0;
		padding-right: 0;
	}

	.submit_div .btn-custom-submit{
		margin: auto;
	    display: block; 
	}

	.submit-block .p-check-icon{
		float: left;
	}

	.fusion-row > div{
		padding: 0;
	}

	.field-area{
		padding: 0;
	}

	.field-area .form-group-custom{
		clear: left;
		margin-bottom: 15px;
	}

	.radio{
		clear: left;
	}

	.row-block{
		padding: 0;
		margin: 0;
		border-bottom: none;
	}

	.back-btn{
		margin-left: 0px;
	}
	
	.fusion-row > .list-container{
		padding: 25px 15px;
	}
} 